<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMS-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAF9F08C1E30B5E10077FE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF9F0A31E30B5E20077FE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF9F0AE1E30B5E20077FE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
